@import "../../../assets/GeneralDefine.scss";

.main-cart {
    padding: 24px 0;
    height: max-content;

    h1 {
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: #221f20;
    }

    .cart-list {
        margin: 30px 0;
        width: 100%;

        thead {
            border-bottom: 1px solid $grey;
            tr {
                th {
                    vertical-align: top;
                    padding: 0 16px 24px 16px;
                    text-align: left;
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 16px;
                    color: #6c6d70;
                    text-transform: uppercase;
                }
            }
        }

        tbody {
            tr {
                border-bottom: 1px solid $grey;

                td {
                    padding: 24px 16px;
                    vertical-align: center;

                    & > * {
                        font-size: 14px;
                        line-height: 24px;
                        color: #6c6d70;
                    }

                    &:first-child {
                        padding-left: 0;
                    }

                    .cart-item {
                        display: flex;

                        .cart-item-img {
                            width: 25%;
                            min-width: 150px;

                            a {
                                display: flex;
                                height: 200px;
                                
                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }
                        }

                        .cart-item-content {
                            padding-left: 16px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;

                            a {
                                width: 100%;
                                h3 {
                                    font-size: 16px;
                                    font-weight: 400;
                                }
                            }

                            .cart-item-properties {
                                width: 100%;
                                display: flex;
                                gap: 10px;
                            }
                        }
                    }

                    p {
                        margin: 0;
                    }

                    .sale-percentage {
                        color: #D73831;
                        font-weight: bold;
                    }

                    .quantity-group {
                        width: max-content;
                        display: flex;
                        justify-content: space-between;
                        position: relative;
                        width: 140px;
                        padding: 0 30px;
                
                        input {
                            width: 100%;
                            height: 48px;
                            border: 1px solid $grey;
                            text-align: center;
                
                            &::placeholder {
                            font-size: 1rem;
                            }

                            &:focus {
                                outline: none;
                            }
                        }
                
                        button {
                            @include centerContent();
                
                            height: 48px;
                            width: 48px;
                            font-size: 0.625rem;
                            position: absolute;
                            background-color: $light;
                            border: 1px solid $grey;
                            border-radius: 15px 0px;
                
                            &.minus {
                                left: 0;
                            }
                
                            &.plus {
                                right: 0;                            }
                
                            &:hover {
                            @include lightHover();
                            }
                        }
                    }

                    .price {
                        font-size: 20px;
                        color: $dark;
                        font-weight: 600;
                    }

                    .remove-button {
                        background-color: transparent;
                        border: none;


                        svg {
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }
    }
}