@import "../../assets/GeneralDefine.scss";

.main-gallery {
    margin-bottom: 40px;

    .gallery-header {
        text-align: center;
        font-size: 2.1rem;
        line-height: 32px;
        font-weight: 600;
        letter-spacing: 0.125rem;
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    .gallery-body {
        display: flex;
        gap: 1.5rem;

        .gallery-item {
            min-width: calc(20% - 1.5rem);
            height: 470px;

            a {
                width: 100%;
                height: 100%;

                img {
                    @extend a;
                    object-fit: cover;
                }
            }
        }
    }
    
}